/**
 * Breeze.widget.punch.PunchButton Stylesheet
 * Classes and UI overrides in this sheet should be specific to items
 * that appear within the Breeze.widget.punch.PunchButton widget or its children
 */

// Base style for punchclock
.breeze-punch-punchclock{
    background-color:   map-get($punchclock-colors,'base');
    color:  map-get($punchclock-text-colors, 'base');
    //background-color: $base-color-green;
}

// Punch clock size overrides for modes
.breeze-punch-punchclock {
    // Sizing for micro mode
    &.micro {
        height: auto;
    }
    // Sizing for full mode
    &.full {
        height: 70pt;
    }
}

// Punch clock Background color overrides
.breeze-punch-punchclock {
    // Punched 'in' mode bgcolor
    &.in {
        background-color: map-get($punchclock-colors, 'in');
        // mouse hover bgcolor
        &:hover {
            background-color: lighten(map-get($punchclock-colors, 'in'), 10%);
        }
    }
    // Punched 'out' mode bgcolor
    &.out {
        background-color: map-get($punchclock-colors, 'out');
        // mouse hover bgcolor
        &:hover, &:active {
            background-color: lighten(map-get($punchclock-colors, 'out'), 10%);
        }
    }
}

// punch-punchclock-menu UI override for button component
// @include button-ui (
//     $ui: 'punch-punchclock-button',
//     $arrow-icon-color: map-get($punchclock-text-colors, 'base'),
//     $hovered-arrow-icon-color: map-get($punchclock-text-colors, 'base'),
//     $hovered-icon-color: map-get($punchclock-text-colors, 'base'),
//     $icon-color: map-get($punchclock-text-colors, 'base'),
//     $background-color: rgba(0,0,0,0),
//     $background-gradient: none,
//     $pressed-background-color: map-get($transparent-colors, 'pressed'),
//     $focused-background-color: map-get($transparent-colors, 'focus'),
//     $color: map-get($punchclock-text-colors, 'base')
// );

@include button-ui(
    $ui: 'punchclock-button-sm',
    $arrow-icon-size: 10pt,
    $icon-font-size: 10pt
);


.breeze-punch-button {
    background-color: rgba(0,0,0,0.125);
    border-radius: 0pt;
}


