/*
    Styling rules for History Bread breadcrumb widget
*/

.breeze-history-bread {
    vertical-align: bottom;
    padding-bottom: 6pt;
    background-color: $base-color;
    color: map-get($root-text-colors, 'base');
    font-size: map-get($root-font-sizes, 'detail');

    // Crumb item element
    & .crumb {
        // Element containing link and divider
        & > div {
            // Crumb links
            & > a {
                color: map-get($root-text-colors, 'base');
                text-decoration: underline;
                &:hover{
                    color: map-get($root-text-colors, 'light');
                }
            }
            // Divider symbol
            &:after {
                content: "\232a" !important;
                // font-size: 75%;
                vertical-align: middle;
                margin-left: 0.7em !important;
            }
        }
        // Current location name
        & > span {
            color: map-get($root-text-colors, 'light');
        }
    }
  }