// ========Scoped color sets============

/*---------------------------------
--How to use scope map--

Use the 'map-get' SASS function to retrieve a property.
 Example:

 button {
     background-color: map-get($employee-info-colors, 'base');
     // same as background-color: $scoped-employee-info-base;
     & :hover {
         background-color: map-get($employee-info-colors, 'accent-light');
         // same as background-color: $scoped-employee-info-accent-light;
     }
 }
-------------------------------*/
/*-------------------------
--Naming--

Specific colors:
$scoped-<scope-name>-<part>
 Parts:
    - base (base color)
    - light (light accent color)
    - medium (medium accent color)
    - dark (dark accent color)
    - text-base (text color for base bg)
    - text-light (text color for accent light bg)
    - text-medium (text color for accent medium bg)
    - text-dark (text color for accent dark bg)

Maps:
Colors:         $<scope-name>-colors (base, light, medium, dark)
Text Colors:    $<scope-name>-text-colors (base, light, medium, dark)
-------------------------------------*/



// ====[Employee Nav Colors]====

$scoped-employee-nav-text-base: #959595;
$scoped-employee-nav-text-dark: #2C415A;

$employee-nav-text-colors: (
    base: $scoped-employee-nav-text-base,
    dark: $scoped-employee-nav-text-dark
);


// ====[Base (root) Set]====

$scoped-content-base: #ffffff;

$scoped-root-base: #2D415A;
$scoped-root-light: #4ea5ff;
$scoped-root-lighter: #498DC6;

$scoped-root-text-base: #B8BFC9;
$scoped-root-text-light: #ffffff;
$scoped-root-text-dark: $scoped-root-light;

$root-colors: (
    base: $scoped-root-base,
    light: $scoped-root-light,
    lighter: $scoped-root-lighter
);

$root-text-colors: (
    base: $scoped-root-text-base,
    light: $scoped-root-text-light,
    dark: $scoped-root-text-dark
);


// ====[Base (root) Set]====
$scoped-calendar-base: #709C93;
$scoped-calendar-medium: #93B5AE;
$scoped-calendar-light: #B7CEC9;

$scoped-calendar-text-base: #ffffff;
$scoped-calendar-text-light: #B7CEC9;

$calendar-colors: (
    base:  $scoped-calendar-base,
    medium: $scoped-calendar-medium,
    light: $scoped-calendar-light
);

$calendar-text-colors: (
    base:  $scoped-calendar-text-base,
    light: $scoped-calendar-text-light,
);


// ====[Employee Info View]====

// specific colors
$scoped-employee-info-base: #498DC6;
$scoped-employee-info-light: #A2C6E3;
$scoped-employee-info-medium: #ff00FF;
$scoped-employee-info-dark: #0000ff;
$scoped-employee-info-row-dark: #83B1DB;
$scoped-employee-info-row-light: #5494CC;

$scoped-employee-info-text-base: #ffffff;
$scoped-employee-info-text-light: #A2C6E3;
$scoped-employee-info-text-medium: $scoped-employee-info-base;
$scoped-employee-info-text-dark: $scoped-employee-info-text-base;

// scope map
$employee-info-colors: (
    base: $scoped-employee-info-base,
    light: $scoped-employee-info-light,
    medium: $scoped-employee-info-medium,
    dark: $scoped-employee-info-base,
    row-dark: $scoped-employee-info-row-dark,
    row-light: $scoped-employee-info-row-light
);
$employee-info-text-colors: (
    base: $scoped-employee-info-text-base,
    light:$scoped-employee-info-text-light,
    medium: $scoped-employee-info-text-medium,
    dark: $scoped-employee-info-text-dark
);


// ====[Employee FYI View]====

// specific colors
$scoped-employee-fyi-base: #48657F;
$scoped-employee-fyi-light: #A4B2C0;

$scoped-employee-fyi-text-base: #ffffff;
$scoped-employee-fyi-text-light: #A4B2C0;
$scoped-employee-fyi-text-alert: #E98591;

$employee-fyi-colors: (
    base:  $scoped-employee-fyi-base,
    light: $scoped-employee-fyi-light
);

$employee-fyi-text-colors: (
    base:  $scoped-employee-fyi-text-base,
    light: $scoped-employee-fyi-text-light,
    alert: $scoped-employee-fyi-text-alert,
);


// ====[WorkTime Records]====

// colors
//$scoped-wtr-base: $base-color;
$scoped-wtr-base: #575786;//#57576A;
$scoped-wtr-medium: #8180A5;//#81818F;
$scoped-wtr-light: #ABABC4;//#ABABB5;

// text
$scoped-wtr-text-base: #ffffff;
$scoped-wtr-text-light: #ABABC4;//#ABABB5;

$wtr-colors: (
    base: $scoped-wtr-base,
    medium: $scoped-wtr-medium,
    light: $scoped-wtr-light
);

$wtr-text-colors: (
    base: $scoped-wtr-text-base,
    light: $scoped-wtr-text-light

);

// ====[Punch Clock Button[===

$scoped-punchclock-in:     #239F86;
$scoped-punchclock-out:    #DC5E71;
// use punched in as base, just for consistency
$scoped-punchclock-base:        $scoped-punchclock-in;

$scoped-punchclock-text-base:   #ffffff;
$scoped-punchclock-text-in:     $scoped-punchclock-text-base;
$scoped-punchclock-text-out:    $scoped-punchclock-text-base;

$punchclock-colors: (
    base: $scoped-punchclock-base,
    in: $scoped-punchclock-in,
    out: $scoped-punchclock-out
);
$punchclock-text-colors: (
    base: $scoped-punchclock-text-base,
    in: $scoped-punchclock-text-in,
    out: $scoped-punchclock-text-out
);

// ====[Transparency Colors]====

$scoped-transparent-hover: inherit;
$scoped-transparent-focus: rgba(17,17,17,0.06);
$scoped-transparent-pressed: rgba(17,17,17,0.3);

$transparent-colors: (
    hover: $scoped-transparent-hover,
    focus: $scoped-transparent-focus,
    pressed: $scoped-transparent-pressed
);

// ====[Message/Toast Colors]====

$scoped-toast-success: $confirm-color;
$scoped-toast-warn: #ed7827;
$scoped-toast-error: $alert-color;

$toast-colors: (
    success: $scoped-toast-success,
    warn: $scoped-toast-warn,
    error: $scoped-toast-error
);

// ====[Side Panel]====

// colors
//$scoped-wtr-base: $base-color;
$scoped-side-panel-base: #57576A;
$scoped-side-panel-medium: #81818F;
$scoped-side-panel-light: #ABABB5;
$scoped-side-panel-tree: #ffffff;

// text
$scoped-side-panel-text-base: #ffffff;
$scoped-side-panel-text-light: #ABABB5;
$scoped-side-panel-text-icon: $scoped-side-panel-base;

// Side panel colors
$side-panel-colors: (
    base: $scoped-side-panel-base,
    medium: $scoped-side-panel-medium,
    light: $scoped-side-panel-light,
    tree: $scoped-side-panel-tree
);

// Side panel text colors
$side-panel-text-colors: (
    base: $scoped-side-panel-text-base,
    light: $scoped-side-panel-text-light,
    icon: $scoped-side-panel-text-icon
);

// ====[Report Form Colors]====


$scoped-reporting-base: $scoped-root-lighter;
$scoped-reporting-light: #C0D8EB;
$scoped-reporting-medium: #bed9ed;
$scoped-reporting-dark: #6DAFFF;
$scoped-reporting-row-dark: #70a5d2;
$scoped-reporting-row-light: #96bede;

$scoped-reporting-text-base: #ffffff;
$scoped-reporting-text-light: #C0D8EB;
$scoped-reporting-text-medium: $scoped-root-base;
$scoped-reporting-text-dark: $scoped-reporting-text-base;

$reporting-colors: (
    base: $scoped-reporting-base,
    light: $scoped-reporting-light,
    medium: $scoped-reporting-medium,
    dark: $scoped-reporting-dark,
    row-dark: $scoped-reporting-row-dark,
    row-light: $scoped-reporting-row-light
);

$reporting-text-colors: (
    base: $scoped-reporting-text-base,
    light: $scoped-reporting-text-light,
    medium: $scoped-reporting-text-medium,
    dark: $scoped-reporting-text-dark
);





// ====[Admin Form Colors]====

$scoped-admin-base: #64a0b4;
$scoped-admin-light: #DBE9EE;
$scoped-admin-medium: #96BFCD;
$scoped-admin-dark: #89B8C8;
$scoped-admin-row-dark: #97BFCD; //rgba(255,255,255,.33);
$scoped-admin-row-light: #7AAEBF; //rgba(255,255,255,.0825);

$scoped-admin-text-base: #ffffff;
$scoped-admin-text-light: #96BFCD; //rgba(255,255,255,.5);
$scoped-admin-text-medium: $scoped-root-base;
$scoped-admin-text-dark: $scoped-reporting-text-base;



$admin-colors: (
    base: $scoped-admin-base,
    light: $scoped-admin-light,
    medium: $scoped-admin-medium,
    dark: $scoped-admin-base,
    row-dark: $scoped-admin-row-dark,
    row-light: $scoped-admin-row-light
);

$admin-text-colors: (
    base: $scoped-admin-text-base,
    light: $scoped-admin-text-light,
    medium: $scoped-admin-text-medium,
    dark: $scoped-admin-text-dark
);






// ====[red Colors]====

$scoped-red-base: #DC5E71;
$scoped-red-light: #E78593;
$scoped-red-medium: #EFAFB7;
$scoped-red-row-dark: rgba(255,255,255,.33);
$scoped-red-row-light: rgba(255,255,255,.33);

$scoped-red-text-base: #ffffff;
$scoped-red-text-light: #E78593;
$scoped-red-text-medium: $scoped-root-base;
$scoped-red-text-dark: $scoped-reporting-text-base;

$red-colors: (
    base: $scoped-red-base,
    light: $scoped-red-light,
    medium: $scoped-red-medium,
    dark: $scoped-red-base,
    row-dark: $scoped-red-row-dark,
    row-light: $scoped-red-row-light
);

$red-text-colors: (
    base: $scoped-red-text-base,
    light: $scoped-red-text-light,
    medium: $scoped-red-text-medium,
    dark: $scoped-red-text-dark
);



// ====[green Form Colors]====

$scoped-green-base: #229F86;
$scoped-green-light: #55B8A4;
$scoped-green-medium: #8FCFC3;
$scoped-green-row-dark: rgba(255,255,255,.33);
$scoped-green-row-light: rgba(255,255,255,.33);

$scoped-green-text-base: #ffffff;
$scoped-green-text-light: #55B8A4;
$scoped-green-text-medium: $scoped-root-base;
$scoped-green-text-dark: $scoped-reporting-text-base;

$green-colors: (
    base: $scoped-green-base,
    light: $scoped-green-light,
    medium: $scoped-green-medium,
    dark: $scoped-green-base,
    row-dark: $scoped-green-row-dark,
    row-light: $scoped-green-row-light
);

$green-text-colors: (
    base: $scoped-green-text-base,
    light: $scoped-green-text-light,
    medium: $scoped-green-text-medium,
    dark: $scoped-green-text-dark
);



// === [My Requests] ====

// My request status colors
$leave-request-status-colors: (
    approved: $confirm-color, // original: green
    draft: #404040, // original: black
    pending: $base-color, // original: blue
    denied: $alert-color, // original: red
    cancelled: $scoped-toast-warn
);