$ui-SideNav-treelist-background-color: dynamic(null);
$ui-SideNav-treelist-padding: dynamic(null);
$ui-SideNav-treelist-row-indicator-width: dynamic(null);
$ui-SideNav-treelist-item-expander-color: dynamic(null);
$ui-SideNav-treelist-item-expander-font-size: dynamic(null);
$ui-SideNav-treelist-item-expander-font-size-big: dynamic(null);
$ui-SideNav-treelist-item-expander-width: dynamic(null);
$ui-SideNav-treelist-item-expander-width-big: dynamic(null);
$ui-SideNav-treelist-item-text-color: dynamic(null);
$ui-SideNav-treelist-item-text-font-size: dynamic(null);
$ui-SideNav-treelist-item-icon-color: dynamic(null);
$ui-SideNav-treelist-item-icon-font-size: dynamic(null);
$ui-SideNav-treelist-item-icon-font-size-big: dynamic(null);
$ui-SideNav-treelist-item-icon-width: dynamic(null);
$ui-SideNav-treelist-item-icon-width-big: dynamic(null);
$ui-SideNav-treelist-item-line-height: dynamic(null);
$ui-SideNav-treelist-item-line-height-big: dynamic(null);
$ui-SideNav-treelist-item-text-icon-gap: dynamic(null);
$ui-SideNav-treelist-item-expander-over-color: dynamic(null);
$ui-SideNav-treelist-item-icon-over-color: dynamic(null);
$ui-SideNav-treelist-item-text-over-color: dynamic(null);
$ui-SideNav-treelist-row-indicator-over-color: dynamic(null);
$ui-SideNav-treelist-row-over-background-color: dynamic(null);
$ui-SideNav-treelist-row-selected-over-background-color: dynamic(null);
$ui-SideNav-treelist-row-indicator-selected-color: dynamic(null);
$ui-SideNav-treelist-row-selected-background-color: dynamic(null);
$ui-SideNav-treelist-item-expanded-background-color: dynamic(null);
$ui-SideNav-treelist-item-expanded-child-background-color: dynamic(null);
$ui-SideNav-treelist-tool-indicator-selected-color: dynamic(null);
$ui-SideNav-treelist-tool-indicator-selected-width: dynamic(null);
$ui-SideNav-treelist-toolstrip-background-color: dynamic(null);
$ui-SideNav-treelist-tool-selected-background-color: dynamic(null);
$ui-SideNav-treelist-tool-selected-color: dynamic(null);
$ui-mainNavUserButton-button-color: dynamic(null);
$ui-mainNavUserButton-button-font-family: dynamic(null);
$ui-mainNavUserButton-button-font-size: dynamic(null);
$ui-mainNavUserButton-button-font-size-big: dynamic(null);
$ui-mainNavUserButton-button-font-weight: dynamic(null);
$ui-mainNavUserButton-button-background-color: dynamic(null);
$ui-mainNavUserButton-button-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-border-color: dynamic(null);
$ui-mainNavUserButton-button-border-radius: dynamic(null);
$ui-mainNavUserButton-button-border-radius-big: dynamic(null);
$ui-mainNavUserButton-button-border-style: dynamic(null);
$ui-mainNavUserButton-button-border-width: dynamic(null);
$ui-mainNavUserButton-button-line-height: dynamic(null);
$ui-mainNavUserButton-button-line-height-big: dynamic(null);
$ui-mainNavUserButton-button-padding: dynamic(null);
$ui-mainNavUserButton-button-padding-big: dynamic(null);
$ui-mainNavUserButton-button-text-transform: dynamic(null);
$ui-mainNavUserButton-button-text-transform-big: dynamic(null);
$ui-mainNavUserButton-button-icon-horizontal-spacing: dynamic(null);
$ui-mainNavUserButton-button-icon-horizontal-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-icon-vertical-spacing: dynamic(null);
$ui-mainNavUserButton-button-icon-vertical-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-icon-color: dynamic(null);
$ui-mainNavUserButton-button-icon-font-size: dynamic(null);
$ui-mainNavUserButton-button-icon-font-size-big: dynamic(null);
$ui-mainNavUserButton-button-icon-only-padding: dynamic(null);
$ui-mainNavUserButton-button-icon-only-padding-big: dynamic(null);
$ui-mainNavUserButton-button-hovered-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-background-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-hovered-border-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-icon-color: dynamic(null);
$ui-mainNavUserButton-button-focused-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-focused-background-color: dynamic(null);
$ui-mainNavUserButton-button-focused-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-focused-border-color: dynamic(null);
$ui-mainNavUserButton-button-focused-color: dynamic(null);
$ui-mainNavUserButton-button-focused-icon-color: dynamic(null);
$ui-mainNavUserButton-button-focused-outline-color: dynamic(null);
$ui-mainNavUserButton-button-focused-outline-style: dynamic(null);
$ui-mainNavUserButton-button-focused-outline-width: dynamic(null);
$ui-mainNavUserButton-button-pressed-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-background-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-pressed-border-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-icon-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-background-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-disabled-border-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-icon-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-opacity: dynamic(null);
$ui-mainNavUserButton-button-badge-color: dynamic(null);
$ui-mainNavUserButton-button-badge-font-family: dynamic(null);
$ui-mainNavUserButton-button-badge-font-size: dynamic(null);
$ui-mainNavUserButton-button-badge-font-size-big: dynamic(null);
$ui-mainNavUserButton-button-badge-font-weight: dynamic(null);
$ui-mainNavUserButton-button-badge-bottom: dynamic(null);
$ui-mainNavUserButton-button-badge-left: dynamic(null);
$ui-mainNavUserButton-button-badge-right: dynamic(null);
$ui-mainNavUserButton-button-badge-top: dynamic(null);
$ui-mainNavUserButton-button-badge-background-color: dynamic(null);
$ui-mainNavUserButton-button-badge-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-badge-border-radius: dynamic(null);
$ui-mainNavUserButton-button-badge-line-height: dynamic(null);
$ui-mainNavUserButton-button-badge-line-height-big: dynamic(null);
$ui-mainNavUserButton-button-badge-max-width: dynamic(null);
$ui-mainNavUserButton-button-badge-min-width: dynamic(null);
$ui-mainNavUserButton-button-badge-padding: dynamic(null);
$ui-mainNavUserButton-button-badge-padding-big: dynamic(null);
$ui-mainNavUserButton-button-arrow-horizontal-spacing: dynamic(null);
$ui-mainNavUserButton-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-arrow-vertical-spacing: dynamic(null);
$ui-mainNavUserButton-button-arrow-vertical-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-arrow-icon-font-size: dynamic(null);
$ui-mainNavUserButton-button-arrow-icon-font-size-big: dynamic(null);
$ui-mainNavCollapseButton-button-color: dynamic(null);
$ui-mainNavCollapseButton-button-font-family: dynamic(null);
$ui-mainNavCollapseButton-button-font-size: dynamic(null);
$ui-mainNavCollapseButton-button-font-size-big: dynamic(null);
$ui-mainNavCollapseButton-button-font-weight: dynamic(null);
$ui-mainNavCollapseButton-button-background-color: dynamic(null);
$ui-mainNavCollapseButton-button-background-gradient: dynamic(null);
$ui-mainNavCollapseButton-button-border-color: dynamic(null);
$ui-mainNavCollapseButton-button-border-radius: dynamic(null);
$ui-mainNavCollapseButton-button-border-radius-big: dynamic(null);
$ui-mainNavCollapseButton-button-border-style: dynamic(null);
$ui-mainNavCollapseButton-button-border-width: dynamic(null);
$ui-mainNavCollapseButton-button-line-height: dynamic(null);
$ui-mainNavCollapseButton-button-line-height-big: dynamic(null);
$ui-mainNavCollapseButton-button-padding: dynamic(null);
$ui-mainNavCollapseButton-button-padding-big: dynamic(null);
$ui-mainNavCollapseButton-button-text-transform: dynamic(null);
$ui-mainNavCollapseButton-button-text-transform-big: dynamic(null);
$ui-mainNavCollapseButton-button-icon-horizontal-spacing: dynamic(null);
$ui-mainNavCollapseButton-button-icon-horizontal-spacing-big: dynamic(null);
$ui-mainNavCollapseButton-button-icon-vertical-spacing: dynamic(null);
$ui-mainNavCollapseButton-button-icon-vertical-spacing-big: dynamic(null);
$ui-mainNavCollapseButton-button-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-icon-font-size: dynamic(null);
$ui-mainNavCollapseButton-button-icon-font-size-big: dynamic(null);
$ui-mainNavCollapseButton-button-icon-only-padding: dynamic(null);
$ui-mainNavCollapseButton-button-icon-only-padding-big: dynamic(null);
$ui-mainNavCollapseButton-button-hovered-arrow-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-hovered-background-color: dynamic(null);
$ui-mainNavCollapseButton-button-hovered-background-gradient: dynamic(null);
$ui-mainNavCollapseButton-button-hovered-border-color: dynamic(null);
$ui-mainNavCollapseButton-button-hovered-color: dynamic(null);
$ui-mainNavCollapseButton-button-hovered-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-arrow-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-background-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-background-gradient: dynamic(null);
$ui-mainNavCollapseButton-button-focused-border-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-outline-color: dynamic(null);
$ui-mainNavCollapseButton-button-focused-outline-style: dynamic(null);
$ui-mainNavCollapseButton-button-focused-outline-width: dynamic(null);
$ui-mainNavCollapseButton-button-pressed-arrow-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-pressed-background-color: dynamic(null);
$ui-mainNavCollapseButton-button-pressed-background-gradient: dynamic(null);
$ui-mainNavCollapseButton-button-pressed-border-color: dynamic(null);
$ui-mainNavCollapseButton-button-pressed-color: dynamic(null);
$ui-mainNavCollapseButton-button-pressed-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-arrow-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-background-color: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-background-gradient: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-border-color: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-color: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-disabled-opacity: dynamic(null);
$ui-mainNavCollapseButton-button-badge-color: dynamic(null);
$ui-mainNavCollapseButton-button-badge-font-family: dynamic(null);
$ui-mainNavCollapseButton-button-badge-font-size: dynamic(null);
$ui-mainNavCollapseButton-button-badge-font-size-big: dynamic(null);
$ui-mainNavCollapseButton-button-badge-font-weight: dynamic(null);
$ui-mainNavCollapseButton-button-badge-bottom: dynamic(null);
$ui-mainNavCollapseButton-button-badge-left: dynamic(null);
$ui-mainNavCollapseButton-button-badge-right: dynamic(null);
$ui-mainNavCollapseButton-button-badge-top: dynamic(null);
$ui-mainNavCollapseButton-button-badge-background-color: dynamic(null);
$ui-mainNavCollapseButton-button-badge-background-gradient: dynamic(null);
$ui-mainNavCollapseButton-button-badge-border-radius: dynamic(null);
$ui-mainNavCollapseButton-button-badge-line-height: dynamic(null);
$ui-mainNavCollapseButton-button-badge-line-height-big: dynamic(null);
$ui-mainNavCollapseButton-button-badge-max-width: dynamic(null);
$ui-mainNavCollapseButton-button-badge-min-width: dynamic(null);
$ui-mainNavCollapseButton-button-badge-padding: dynamic(null);
$ui-mainNavCollapseButton-button-badge-padding-big: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-horizontal-spacing: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-vertical-spacing: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-vertical-spacing-big: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-icon-color: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-icon-font-size: dynamic(null);
$ui-mainNavCollapseButton-button-arrow-icon-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-font-family: dynamic(null);
$ui-EmployeeInfoTabbar-tab-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tab-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-font-weight: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-horizontal-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-horizontal-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-vertical-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-vertical-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-only-padding: dynamic(null);
$ui-EmployeeInfoTabbar-tab-icon-only-padding-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-line-height: dynamic(null);
$ui-EmployeeInfoTabbar-tab-line-height-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-padding: dynamic(null);
$ui-EmployeeInfoTabbar-tab-padding-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-stacked-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tab-stacked-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-text-transform: dynamic(null);
$ui-EmployeeInfoTabbar-tab-text-transform-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-outline-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-outline-style: dynamic(null);
$ui-EmployeeInfoTabbar-tab-focused-outline-width: dynamic(null);
$ui-EmployeeInfoTabbar-tab-hovered-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-hovered-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-hovered-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-hovered-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-hovered-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-hovered-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-pressed-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-pressed-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-pressed-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-pressed-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-pressed-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-pressed-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-color: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-font-family: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-font-weight: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-border-style: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-border-width: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-horizontal-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-horizontal-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-line-height: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-line-height-big: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-min-height: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-min-height-big: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-padding: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-padding-big: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-strip-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-strip-height: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-strip-height-big: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-vertical-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tabbar-vertical-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-border-radius: dynamic(null);
$ui-EmployeeInfoTabbar-tab-border-radius-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-border-style: dynamic(null);
$ui-EmployeeInfoTabbar-tab-border-width: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-font-family: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-font-weight: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-bottom: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-left: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-right: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-top: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-border-radius: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-line-height: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-line-height-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-max-width: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-min-width: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-padding: dynamic(null);
$ui-EmployeeInfoTabbar-tab-badge-padding-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-focused-outline-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-close-icon-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-close-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-close-icon-hovered-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-close-icon-hovered-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-close-icon-pressed-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-close-icon-pressed-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-indicator-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-active-indicator-height: dynamic(null);
$ui-EmployeeInfoTabbar-tab-disabled-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-disabled-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-disabled-background-gradient: dynamic(null);
$ui-EmployeeInfoTabbar-tab-disabled-border-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-disabled-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-disabled-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-font-size-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-margin: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-margin-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-hovered-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-hovered-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-pressed-background-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-close-icon-pressed-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-horizontal-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-horizontal-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-vertical-spacing: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-vertical-spacing-big: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-icon-color: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-icon-font-size: dynamic(null);
$ui-EmployeeInfoTabbar-tab-arrow-icon-font-size-big: dynamic(null);