$ui-SideNav-treelist-background-color: dynamic(null);
$ui-SideNav-treelist-padding: dynamic(null);
$ui-SideNav-treelist-row-indicator-width: dynamic(null);
$ui-SideNav-treelist-item-expander-color: dynamic(null);
$ui-SideNav-treelist-item-expander-font-size: dynamic(null);
$ui-SideNav-treelist-item-expander-font-size-big: dynamic(null);
$ui-SideNav-treelist-item-expander-width: dynamic(null);
$ui-SideNav-treelist-item-expander-width-big: dynamic(null);
$ui-SideNav-treelist-item-text-color: dynamic(null);
$ui-SideNav-treelist-item-text-font-size: dynamic(null);
$ui-SideNav-treelist-item-icon-color: dynamic(null);
$ui-SideNav-treelist-item-icon-font-size: dynamic(null);
$ui-SideNav-treelist-item-icon-font-size-big: dynamic(null);
$ui-SideNav-treelist-item-icon-width: dynamic(null);
$ui-SideNav-treelist-item-icon-width-big: dynamic(null);
$ui-SideNav-treelist-item-line-height: dynamic(null);
$ui-SideNav-treelist-item-line-height-big: dynamic(null);
$ui-SideNav-treelist-item-text-icon-gap: dynamic(null);
$ui-SideNav-treelist-item-expander-over-color: dynamic(null);
$ui-SideNav-treelist-item-icon-over-color: dynamic(null);
$ui-SideNav-treelist-item-text-over-color: dynamic(null);
$ui-SideNav-treelist-row-indicator-over-color: dynamic(null);
$ui-SideNav-treelist-row-over-background-color: dynamic(null);
$ui-SideNav-treelist-row-selected-over-background-color: dynamic(null);
$ui-SideNav-treelist-row-indicator-selected-color: dynamic(null);
$ui-SideNav-treelist-row-selected-background-color: dynamic(null);
$ui-SideNav-treelist-item-expanded-background-color: dynamic(null);
$ui-SideNav-treelist-item-expanded-child-background-color: dynamic(null);
$ui-SideNav-treelist-tool-indicator-selected-color: dynamic(null);
$ui-SideNav-treelist-tool-indicator-selected-width: dynamic(null);
$ui-SideNav-treelist-toolstrip-background-color: dynamic(null);
$ui-SideNav-treelist-tool-selected-background-color: dynamic(null);
$ui-SideNav-treelist-tool-selected-color: dynamic(null);
$ui-mainNavUserButton-button-color: dynamic(null);
$ui-mainNavUserButton-button-font-family: dynamic(null);
$ui-mainNavUserButton-button-font-size: dynamic(null);
$ui-mainNavUserButton-button-font-size-big: dynamic(null);
$ui-mainNavUserButton-button-font-weight: dynamic(null);
$ui-mainNavUserButton-button-background-color: dynamic(null);
$ui-mainNavUserButton-button-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-border-color: dynamic(null);
$ui-mainNavUserButton-button-border-radius: dynamic(null);
$ui-mainNavUserButton-button-border-radius-big: dynamic(null);
$ui-mainNavUserButton-button-border-style: dynamic(null);
$ui-mainNavUserButton-button-border-width: dynamic(null);
$ui-mainNavUserButton-button-line-height: dynamic(null);
$ui-mainNavUserButton-button-line-height-big: dynamic(null);
$ui-mainNavUserButton-button-padding: dynamic(null);
$ui-mainNavUserButton-button-padding-big: dynamic(null);
$ui-mainNavUserButton-button-text-transform: dynamic(null);
$ui-mainNavUserButton-button-text-transform-big: dynamic(null);
$ui-mainNavUserButton-button-icon-horizontal-spacing: dynamic(null);
$ui-mainNavUserButton-button-icon-horizontal-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-icon-vertical-spacing: dynamic(null);
$ui-mainNavUserButton-button-icon-vertical-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-icon-color: dynamic(null);
$ui-mainNavUserButton-button-icon-font-size: dynamic(null);
$ui-mainNavUserButton-button-icon-font-size-big: dynamic(null);
$ui-mainNavUserButton-button-icon-only-padding: dynamic(null);
$ui-mainNavUserButton-button-icon-only-padding-big: dynamic(null);
$ui-mainNavUserButton-button-hovered-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-background-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-hovered-border-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-color: dynamic(null);
$ui-mainNavUserButton-button-hovered-icon-color: dynamic(null);
$ui-mainNavUserButton-button-focused-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-focused-background-color: dynamic(null);
$ui-mainNavUserButton-button-focused-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-focused-border-color: dynamic(null);
$ui-mainNavUserButton-button-focused-color: dynamic(null);
$ui-mainNavUserButton-button-focused-icon-color: dynamic(null);
$ui-mainNavUserButton-button-focused-outline-color: dynamic(null);
$ui-mainNavUserButton-button-focused-outline-style: dynamic(null);
$ui-mainNavUserButton-button-focused-outline-width: dynamic(null);
$ui-mainNavUserButton-button-pressed-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-background-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-pressed-border-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-color: dynamic(null);
$ui-mainNavUserButton-button-pressed-icon-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-background-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-disabled-border-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-icon-color: dynamic(null);
$ui-mainNavUserButton-button-disabled-opacity: dynamic(null);
$ui-mainNavUserButton-button-badge-color: dynamic(null);
$ui-mainNavUserButton-button-badge-font-family: dynamic(null);
$ui-mainNavUserButton-button-badge-font-size: dynamic(null);
$ui-mainNavUserButton-button-badge-font-size-big: dynamic(null);
$ui-mainNavUserButton-button-badge-font-weight: dynamic(null);
$ui-mainNavUserButton-button-badge-bottom: dynamic(null);
$ui-mainNavUserButton-button-badge-left: dynamic(null);
$ui-mainNavUserButton-button-badge-right: dynamic(null);
$ui-mainNavUserButton-button-badge-top: dynamic(null);
$ui-mainNavUserButton-button-badge-background-color: dynamic(null);
$ui-mainNavUserButton-button-badge-background-gradient: dynamic(null);
$ui-mainNavUserButton-button-badge-border-radius: dynamic(null);
$ui-mainNavUserButton-button-badge-line-height: dynamic(null);
$ui-mainNavUserButton-button-badge-line-height-big: dynamic(null);
$ui-mainNavUserButton-button-badge-max-width: dynamic(null);
$ui-mainNavUserButton-button-badge-min-width: dynamic(null);
$ui-mainNavUserButton-button-badge-padding: dynamic(null);
$ui-mainNavUserButton-button-badge-padding-big: dynamic(null);
$ui-mainNavUserButton-button-arrow-horizontal-spacing: dynamic(null);
$ui-mainNavUserButton-button-arrow-horizontal-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-arrow-vertical-spacing: dynamic(null);
$ui-mainNavUserButton-button-arrow-vertical-spacing-big: dynamic(null);
$ui-mainNavUserButton-button-arrow-icon-color: dynamic(null);
$ui-mainNavUserButton-button-arrow-icon-font-size: dynamic(null);
$ui-mainNavUserButton-button-arrow-icon-font-size-big: dynamic(null);