$ui-SideNav-treelist-background-color: dynamic(null);
$ui-SideNav-treelist-padding: dynamic(null);
$ui-SideNav-treelist-row-indicator-width: dynamic(null);
$ui-SideNav-treelist-item-expander-color: dynamic(null);
$ui-SideNav-treelist-item-expander-font-size: dynamic(null);
$ui-SideNav-treelist-item-expander-font-size-big: dynamic(null);
$ui-SideNav-treelist-item-expander-width: dynamic(null);
$ui-SideNav-treelist-item-expander-width-big: dynamic(null);
$ui-SideNav-treelist-item-text-color: dynamic(null);
$ui-SideNav-treelist-item-text-font-size: dynamic(null);
$ui-SideNav-treelist-item-icon-color: dynamic(null);
$ui-SideNav-treelist-item-icon-font-size: dynamic(null);
$ui-SideNav-treelist-item-icon-font-size-big: dynamic(null);
$ui-SideNav-treelist-item-icon-width: dynamic(null);
$ui-SideNav-treelist-item-icon-width-big: dynamic(null);
$ui-SideNav-treelist-item-line-height: dynamic(null);
$ui-SideNav-treelist-item-line-height-big: dynamic(null);
$ui-SideNav-treelist-item-text-icon-gap: dynamic(null);
$ui-SideNav-treelist-item-expander-over-color: dynamic(null);
$ui-SideNav-treelist-item-icon-over-color: dynamic(null);
$ui-SideNav-treelist-item-text-over-color: dynamic(null);
$ui-SideNav-treelist-row-indicator-over-color: dynamic(null);
$ui-SideNav-treelist-row-over-background-color: dynamic(null);
$ui-SideNav-treelist-row-selected-over-background-color: dynamic(null);
$ui-SideNav-treelist-row-indicator-selected-color: dynamic(null);
$ui-SideNav-treelist-row-selected-background-color: dynamic(null);
$ui-SideNav-treelist-item-expanded-background-color: dynamic(null);
$ui-SideNav-treelist-item-expanded-child-background-color: dynamic(null);
$ui-SideNav-treelist-tool-indicator-selected-color: dynamic(null);
$ui-SideNav-treelist-tool-indicator-selected-width: dynamic(null);
$ui-SideNav-treelist-toolstrip-background-color: dynamic(null);
$ui-SideNav-treelist-tool-selected-background-color: dynamic(null);
$ui-SideNav-treelist-tool-selected-color: dynamic(null);