.tko-analog-clock {
	position: relative;
	width:100pt; height:100pt;
	border-radius: 50%;
	border: solid 2pt white;
}
.tko-analog-clock:after{
	position:absolute;
	display: block;
	width:100pt; height:100pt;
	color:white;
	text-align: center;
}
.tko-analog-clock-min, .tko-analog-clock-hrs, .tko-analog-clock-sec {
	position: absolute;
	width:100%; height:100%;
	transform-origin: center center;
}
.tko-analog-clock-hrs:after, .tko-analog-clock-min:after, .tko-analog-clock-sec:after {
	position: absolute;
	content:' ';
	transform-origin: center bottom;
	background: white;
	bottom:50%;
}
.tko-analog-clock-min:after {
	height: 40%; width: 2pt;
	left:calc(50% - 1pt);
	animation:tkoAnalogClockAni 3600s infinite linear;
}
.tko-analog-clock-hrs:after {
	height: 30%; width: 3pt;
	left:calc(50% - 2pt);
	animation:tkoAnalogClockAni 216000s infinite linear;
}
.tko-analog-clock-sec:after {
	height: 45%; width: 1pt;
	left:calc(50% - 0.5pt);
	animation:tkoAnalogClockAni 60s infinite linear;
}
@keyframes tkoAnalogClockAni {
   100% {
      transform:rotateZ(360deg);
   }
}