.tko-analog-clock{
	width:50pt; height:50pt;
	margin:9pt 0pt 5pt 5pt;
}
.tko-analog-clock {
	position: relative;
	border-radius: 50%;
	border: solid 2pt white;
}
.tko-analog-clock-min, .tko-analog-clock-hrs, .tko-analog-clock-sec {
	position: absolute;
	transform-origin: center bottom;
	background-color: #ffffff;
	bottom:50%;
}
.tko-analog-clock-min {
	height: 40%; width: 2pt;
	left:calc(50% - 1pt);
}
.tko-analog-clock-hrs {
	height: 30%; width: 3pt;
	left:calc(50% - 1.5pt);
}
.tko-analog-clock-sec {
	height: 45%; width: 1pt;
	left:calc(50% - 0.5pt);
}
