// Style overrides for main nav side menu treelist
.main-nav-side-menu {
    font-weight: bold;
    // smaller subitems
    .x-treelist-item-expander{
        //display:none;

    }

    .x-treelist-container {
        .x-treelist-item-icon {
            font-size: 80%;
        }
        .x-treelist-item-text {
            font-size: 80%;
        }
    }
}

.main-nav-header{
    background-color: $base-color;
}

.main-nav-side-bar{
    background-color: $base-color;
}




