/**
 * Breeze.view.main.Nav Stylesheet
 * Classes and UI overrides in this sheet should be specific to items
 * that appear within the Breeze.view.main.Nav view or its children
 */

// Edge margin size for content pane
$content-edge: 6pt;

// Style overrides for main nav side menu treelist
.main-nav-side-menu {
    // overflow-y: auto;
    margin-left: 6pt;
    &.micro {
        width: 72pt;
        // Style for treelist container in micro mode (container of subitems)
        .x-treelist-container {
                

            .x-treelist-item-text {
                // Hide 'micro' mode text
                width: 0px;

            }
        }
        // Style for tree list container (root) in micro mode
        .x-treelist-root-container {
            .x-treelist-item-text {
                // Make 'micro' mode items text width 0 to hide
                width: 0px;


            }
        }


        .x-treelist-item-expander{
            margin-right:41pt;

        }


    }
    &.normal {
        // minWidth: 200pt;
        // maxWidth: 200pt;
        // Providing width of sidebar when expanded
        width: 160pt;
    }
    //font-weight: bold;
    // smaller subitems
    .x-treelist-item-expander{
        //display:none;
        margin-right:5pt;
    }

    .x-treelist-container {
        margin-left: -16pt;
        .x-treelist-item-icon {
            font-size: 8pt;
            margin-top:-8pt;
        }
        .x-treelist-item-text {
            font-size: 10pt;
            line-height:20pt;
            // margin-left:49.5pt;
            margin-left:24pt;
        }
    }
}

// Override providing highlighting of selected nav icon + text
.x-treelist-item.x-breeze-navtreeitem.x-treelist-item-selected {
    & > div > div {
        & > .x-treelist-item-icon { 
            color: #ffffff;
        }
        & > .x-treelist-item-text {
            color: #ffffff;
        }
    }
}

.main-nav-header{
    background-color: $base-color;
}

.main-nav-company-name {
    margin-left:7pt !important;
    color:#ffffff;
    text-align: left;
    font-size: 14pt;
    font-weight: 600;
    padding-top:0pt;
}
.main-nav-user-name {
    margin-left:7pt !important;
    color:#ffffff;
    text-align: left;
    font-size: 10pt;
    font-weight: 400;
    padding-bottom:0pt;
}

.main-nav-side-bar{
    background-color: $base-color;
    // Width for side bar when 'micro' (collapsed)
    &.micro {
        width: 42pt;
    }
}

.main-nav-user-button {
    .x-icon-el {
        width:24pt;
        height:24pt;
    }
}

.main-info-profile-picture {
    margin:4pt 0pt 8pt 5pt;
    border-radius: 50%;
    border: 1pt solid white;
}


.punch-window-profile-picture {
    margin:5pt;
    border-radius: 50%;
    border: 1pt solid white;
    background-color: $base-color;
    box-shadow: 0pt 2pt 10pt rgba(0,0,0,.25);
}

.punchWindowClock{
    text-align:center; 
    font-size:16pt;
    margin:5pt;
}


// Content panel
.main-content {
    margin: $content-edge $content-edge $content-edge $content-edge;
}

.full-content {
    background-color: $scoped-content-base;
}

// Night Mode
.night-mode{
    .full-content {
        background-color: $scoped-content-base;
        box-shadow: inset 0pt 2pt 2pt 0pt rgba(0,0,0,0.25);
    }
    .main-nav-side-bar{
        background-color: $base-color;
        box-shadow: 2pt 2pt 2pt 0pt rgba(0,0,0,0.25);
    }
}


@include button-ui(
    $ui: 'mainNavUserButton',
    $arrow-icon-size: 10pt,
    $icon-font-size: 10pt,


    $background-color : rgba(44,65,90,0.25),
    $hovered-background-color : transparent,
    $pressed-background-color : transparent,
    $focused-background-color : transparent,
    $disabled-background-color : transparent,
);
