/**
    Styles for Employee My Accrual Policies view
    /view/employee/AccrualPolicy.js
*/
@include panel-ui(
    $body-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0, left: 0.5, right: 0.5, bottom: 0)
    ),
    $header-color: map-get($admin-text-colors, 'base'),
    $background-color: map-get($employee-fyi-colors,'base'),
    $header-background-color: map-get($employee-fyi-colors,'base'),
    $body-background-color: map-get($employee-fyi-colors,'base'),
    $ui: 'employee-accrual-policy-base'
);

@include displayfield-ui(
    $input-color: #ffffff,
    $input-font-size: map-get($root-font-sizes, 'detail'),
    $input-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0.125, left: 0.5, right: 0.5, bottom: 0.125)
    ),
    $ui: 'employee-accrual-policy-display-field',
);
@include field-ui(
    $label-color: map-get($employee-fyi-text-colors,'light'),
    $focused-label-color: map-get($employee-fyi-text-colors,'light'),
    $label-font-size: map-get($root-font-sizes, 'detail'),
    $label-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0.125, left: 0.5, right: 0.5, bottom: 0.125)
    ),
    // $label-font-size: 12pt !important,
    $ui: 'employee-accrual-policy-display-field',
);

@include field-ui(
    $ui: 'employee-accrual-policy-display-field-inner',
    $label-font-size: map-get($root-font-sizes, 'detail') - 2pt,
    $label-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0.125, left: 1, right: 0.5, bottom: 0.125)
    )
);