.legend-item-dot{
    position: relative;
    display: inline-block;
    width:12pt; height:12pt;
    margin:0pt 5pt 0pt 0pt; padding:0pt;
    border-radius: 50%;
    box-shadow: 0pt 2pt 5pt rgba(0,0,0,.33);
}

.legend-item-label{
    position: relative;
    display: inline-block;
    font-size: 12pt;
    margin:0pt; padding:0pt;
    color: white;
    width: 12em;
    line-height: 16pt;
    vertical-align: middle;
}


.legend {
    margin:20pt 0pt 0pt 0pt;
    border:solid 1px map-get($calendar-colors, 'medium');
}


@include dataview-ui(
    $ui: 'calendar-legend',
    $background-color: map-get($calendar-colors, 'base')
);

@include dataitem-ui(
    $ui: 'calendar-legend',
    $background-color: map-get($calendar-colors, 'base'),
    $line-height: 16pt,
    $padding: 2pt 1pt 2pt 1pt

);

@include listitem-ui(
    $ui: 'calendar-legend',
    $background-color: map-get($calendar-colors, 'base')

);


.employee-calendar-container {
    padding: 16pt 16pt 16pt 16pt;
    background-color: map-get($calendar-colors, 'base');
    color: map-get($calendar-text-colors, 'base');
}

.employee-calendar {
    margin:0px -3px -2px -2px !important;
}

// Turn off bottom border on calendar, add userCls: 'employee-calendar-noedge'
.employee-calendar-noedge {
    table.x-calendar-table {
        & > tbody > tr.x-calendar-weeks-row:last-child {
            .x-calendar-weeks-cell {
                border-bottom: 0px;
            }
        }
    }
}


@include toolbar-ui (
    $ui: 'employee-calendar',
    $background-color: map-get($calendar-colors, 'base'),
    $color : #ffffff,
    $font-size: 16pt
);

@include calendar-header-ui (
    $ui: 'employee-calendar',
    $background-color: map-get($calendar-colors, 'medium'),
    $color : #ffffff,
    $font-size: 12pt,
    $font-weight: 600,
    $cell-border-color: map-get($calendar-colors, 'medium'),
    $cell-border-style: none,
    $cell-border-width: 0px
);

@include calendar-weeks-ui (
    $ui: 'employee-calendar',
    $background-color: map-get($calendar-colors, 'base'),
    $selection-background-color: map-get($calendar-colors, 'medium'),
    $selection-opacity: 1,
    $day-border-width: 1px,
    $day-border-color : map-get($calendar-colors, 'medium'),
    $day-background-color: map-get($calendar-colors, 'base'),
    $day-number-font-size: 14pt,
    $day-number-color: #ffffff,
    $day-number-outside-color: map-get($calendar-colors, 'light')
);

.employee-calendar-form {
    width:100%;
    max-width:500pt;
    min-width: 200pt;
}

@include toolbar-ui  (
    $background-color: #ffffff,
    $ui: 'employee-calendar-form'

);

@include panel-ui (
    $header-color: #000,
    $header-background-color: #fff,
    $toolbar-background-color: #f00,
    $ui: 'employee-calendar-form'
);
