$ei-padding-base: 6pt;
$ei-form-padding: ($ei-padding-base*2) ($ei-padding-base*2) ($ei-padding-base*2) ($ei-padding-base*2);
$ei-field-padding: $ei-padding-base $ei-padding-base $ei-padding-base $ei-padding-base;
$ei-outer-padding: ($ei-padding-base*4) ($ei-padding-base*4) ($ei-padding-base*4) ($ei-padding-base*4);
.employee-info-outer-container {
    background-color: map-get($employee-info-colors, 'base');
    padding: $ei-outer-padding;
}

.employee-info-tab-container {
    background-color: map-get($employee-info-colors, 'base');
    color: map-get($employee-info-text-colors, 'base');
    // padding-left: 256px;
}


.employee-info-container {
    padding: $ei-form-padding;
}

// Fieldset text coloring

.employee-info-fieldset {
    padding: $ei-form-padding;
    .x-form-fieldset-title {
        color: #ffffff;
    }
}

// Profile image

.employee-info-sidebar {
    width: 128pt;
    margin: {
        top: 0pt;
        left: 0pt;
        right: 8pt;
    }
}

.employee-info-profile-picture {
    border-radius: 50% 50% 50% 50%;
    border: 3pt solid white;
}

.employee-info-fieldset-bordered {
    @extend .employee-info-fieldset;
    border: 1pt solid #ffffff;
}

// Field spacing and label text coloring

.employee-info-general-field {
    padding: $ei-field-padding;
}

// Used in PunchPolicy subview to align text with fields
.employee-info-inline-label {
    line-height: 1.5em;
}

@include field-ui(
    $label-color: map-get($employee-info-text-colors, 'light'),
    $focused-label-color: #ffffff,
    $label-font-size: 14pt,
    $ui: 'employeeinfo-textfield'
);

@include textfield-ui(
    $input-font-size: 12pt,
    $ui: 'employeeinfo-textfield'
);

@include field-ui(
    $label-color: #ffffff,
    $focused-label-color: #ffffff,
    $label-font-size: 14pt,    
    $ui: 'employeeinfo-checkbox'
);

@include checkboxfield-ui(
    $checkbox-color: #ffffff,
    $checked-checkbox-color: #ffffff,
    $box-label-color: #ffffff,

    $box-label-font-size: 14pt,

    $ui: 'employeeinfo-checkbox'
);

@include field-ui(
    $label-color: #ffffff,
    // $label-color: map-get($employee-info-text-colors, 'light'),
    $focused-label-color: #ffffff,
    $label-font-size: 14pt,
    $ui: 'employeeinfo-radio'
);




.employeeinfo-label{
    line-height: 3em;
    font-size: 14pt;
}


@include radiofield-ui(
    $box-label-color: #ffffff,
    $ui: 'employeeinfo-radio'
);

@include dataview-ui(
    $background-color :  #498DC6,
    $ui: 'employeeinfo-shift-grid'
);







