@include panel-ui(
    $body-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0, left: 0.5, right: 0.5, bottom: 0)
    ),
    $header-color: map-get($admin-text-colors, 'base'),
    $background-color: map-get($calendar-colors,'base'),
    $header-background-color: map-get($calendar-colors,'base'),
    $body-background-color: map-get($calendar-colors,'base'),
    $ui: 'leave-request-approval-base'
);

@include displayfield-ui(
    $input-color: #ffffff,
    $input-font-size: map-get($root-font-sizes, 'detail'),
    $input-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0.125, left: 0.5, right: 0.5, bottom: 0.125)
    ),
    $ui: 'leave-request-approval-display-field',
);
@include field-ui(
    $label-color: map-get($calendar-text-colors,'light'),
    $focused-label-color: map-get($calendar-text-colors,'light'),
    $label-font-size: map-get($root-font-sizes, 'detail'),
    $label-padding: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0.125, left: 0.5, right: 0.5, bottom: 0.125)
    ),
    // $label-font-size: 12pt !important,
    $ui: 'leave-request-approval-display-field',
);

@include toolbar-ui(
    $ui: 'leave-request-approval-actions',
    $background-color: map-get($calendar-colors, 'base'),
    $horizontal-spacing: 4pt
);

// styling applied to admin-fieldset title
.leave-request-fieldset {
    border:solid 1px white;
    margin: edge-size-from-relative(
        $base: $scoped-root-panel-body-padding-base,
        $weights: (top: 0, left: 0.5, right: 0, bottom: 0.5)
    );

    .x-form-fieldset-title {
        color: map-get($admin-text-colors, 'base');
        background-color:rgba(255,255,255,.33);
        font-weight:1000;
        font-size: map-get($root-font-sizes, 'detail');
        padding: edge-size-from-relative(
            $base: $scoped-root-panel-body-padding-base,
            $weights: ( top: 0.25, left: 0.5, right: 0.5, bottom: 0.25 )
        );
    }

}






/** Generic base UI for report form tree views **/
@include toolbar-ui(
    $ui: 'leave-request-tree',
    $background-color: rgba(255,255,255,.33),
    $background-gradient: none,
    $line-height: 22pt,
);



