/**
 Mixins aiding in defining extra style properties on top of
 UI component classes created using ExtJS mixins
*/

/**
    Add extra style rules to UI type.

    adds body styles to .x-xtype-ui

    @param $xtype Component type (e.g. progress)
    @param $ui UI string name
*/
@mixin ui-extend($xtype,$ui){
    .x-#{$xtype}-#{$ui} {
        @content;
    }
};

/**
    UI Mixin for toast extension
*/
@mixin toast-ui($ui, 
    $background-color: $toast-background-color
    ){
    $xtype: toast;
    .#{$prefix}#{$xtype}-#{$ui} {
        .#{$prefix}#{$xtype}-#{$ui}-body-el {
            background-color: $background-color !important
        }
    }
    @include panel-ui(
        $ui: $ui,
        $background-color: $background-color
    );
};