// Styles for auth/Login

@include field-ui(
    $label-font-size: 14pt,
    $ui: 'login-fieldset'
);

@include textfield-ui(
    $input-font-size: 14pt,
    $ui: 'login-fieldset'
);

@include checkboxfield-ui(
    $box-label-font-size: 12pt,
    $ui: 'login-checkbox'
);


.login {
    background-color: map-get($root-colors, 'base') !important;
    color: map-get($root-text-colors, 'base');
}

.login-fieldset {
    // background-color: map-get($root-colors, 'base');
    // color: map-get($root-text-colors, 'base');
    padding: 12pt 12pt 12pt 12pt;
    margin: 12pt 12pt 12pt 12pt;
    background-color: #ffffff;
    // .x-form-fieldset-title {
    //     color: #ffffff;
    // }

    width:100%; 
    max-width:400pt; 
    max-height:300pt; 
    margin: auto; 
    position: relative; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0;

}