/**
 * Breeze.view.main.employees.Panel Stylesheet
 * Classes and UI overrides in this sheet should be specific to items
 * that appear within the Breeze.view.main.employees.Panel view or its children
 */

@include displayfield-ui(
    $ui: 'employees-panel-field',
    $input-font-size: 0.8 * map-get($root-font-sizes, 'detail')
);

@include field-ui(
    $ui: 'employees-panel-field',
    $label-font-size: 0.8 * map-get($root-font-sizes, 'detail')
);

// Background colored generic class
.employees-panel {
    background-color: map-get($employees-panel-colors, 'base');

}
// provides margins for tree control
.employees-panel-tree {
    margin: 8pt;
}

//==[ Employees Panel Toolbar Styles ]==

/* Toolbar */
@include toolbar-ui(
    $ui: 'employees-toolbar',
    $background-color: map-get($employees-panel-colors, 'base')
);

// @include toolbar-ui(
//     $ui: 'employees-toolbar-med',
//     $background-color: map-get($wtr-colors, 'medium')
// );

/* Info Label */
@include field-ui(
    $ui: 'employees-toolbar-display',
    $label-font-size: 10pt
);

@include checkboxfield-ui(
    $ui: 'employees-panel-checkbox',
    $box-label-font-size: map-get($root-font-sizes, 'detail') !important,
    $box-label-color: map-get($employees-panel-text-colors, 'base'),
    $checkbox-color: map-get($employees-panel-text-colors, 'base'),
    $checked-checkbox-color: map-get($employees-panel-text-colors, 'base'),
    $disabled-checkbox-color: map-get($employees-panel-colors, 'medium')
);

@include field-ui(
    $ui: 'employees-panel-checkbox',
    $label-font-size: map-get($root-font-sizes, 'detail') !important
);

