/**
    Style rules for User Categories list widget Breeze.widget.dataview.UserCategories and
    Breeze.widget.dataview.UserCategoriesItem
*/

.usercategories-widget-legend-item-label{
    position: relative;
    display: inline-block;
    // font-size: 10pt;
    // margin:0pt; padding:0pt;
    // color: white;
    // width: 12em;
    line-height: 14pt;
    padding-left: 0.5em;
    vertical-align: middle;
}
