/*
.legend-item-dot{
    position: relative;
    display: inline-block;
    width:10pt; height:10pt;
    margin:0pt 5pt 0pt 0pt; padding:0pt;
    border-radius: 50%;
    box-shadow: 0pt 2pt 5pt rgba(0,0,0,.33);
}

.legend-item-label{
    position: relative;
    display: inline-block;
    font-size: 10pt;
    margin:0pt; padding:0pt;
    color: white;
    width: 12em;
    line-height: 14pt;
    vertical-align: middle;
}


.legend {
    margin:20pt 0pt 0pt 0pt;
    border:solid 1px map-get($calendar-colors, 'medium');
    pointer-events:none;
}
*/