// Styes for Employee Info > Company

// Override employeeinfo-shift-grid title style
@include titlebar-ui(
    $background-color: map-get($employee-info-colors, 'light'),
    $title-color: map-get($employee-info-colors,'base'),
    $ui: 'employeeinfo-shift-grid'
);

// Class used for role listing tabbar
.employee-info-roletab-container {
    @extend .employee-info-tab-container;
    padding: 2pt;
}

// @include field-ui(
//     $ui: 'employeeinfo-togglefield',
//     $label-color: map-get($employee-info-text-colors, 'base')
// );
// @include togglefield-ui(
//     $ui: 'employeeinfo-togglefield',
//     $box-label-color: map-get($employee-info-text-colors, 'base'),  
// );


