.employeeinfo-notes-text{
	/*
	width:300pt;
	height:300pt;
	*/
	color:#000;
	font-size: 12pt;
	line-height:18pt;
}

// Night Mode
.night-mode{
    .employeeinfo-notes-text{
    	color:#fff;
    }

}


.employeeinfo-notes-button {
	position:absolute;
	/* position based on a 128x128 user icon */
	left:calc(128pt - 33pt); top:calc(128pt - 33pt);
	width:auto; height:auto;
	padding: 0pt; margin: 0pt;
	filter: drop-shadow(0pt 1pt 2pt rgba(0,0,0,.66));
}

.employeeinfo-edit-profile-image-button {
	position:absolute;
	/* position based on a 128x128 user icon */
	left:calc(-8pt); top:calc(128pt - 33pt);
	width:auto; height:auto;
	padding: 0pt; margin: 0pt;
	filter: drop-shadow(0pt 1pt 2pt rgba(0,0,0,.66));
}

@include button-ui(
	$color: #ffffff,
	$icon-color: #ffffff,
	$hovered-icon-color : #CACFD6,
	$focused-icon-color : #CACFD6,
	$pressed-icon-color : #96A0AE,
	$disabled-icon-color : rgba(192, 216, 235, 0.8274509803921568),
	$background-color : transparent,
	$hovered-background-color : transparent,
	$pressed-background-color : transparent,
	$focused-background-color : transparent,
	$icon-size : 30pt,
	$ui: 'employeeinfo-notes-button'
);

@include breeze-dialog-text-size-ui(
	$base-ui: 'employeeinfo-dialog',
	$field-label-font-size: map-get($root-font-sizes, 'base'),
	$body-font-size: map-get($root-font-sizes, 'detail')
);

/* above is equivalent to these two:

@include field-ui(
	$ui: 'employeeinfo-dialog-field',
	$label-font-size: map-get($root-font-sizes, 'base')
);

@include dialog-ui(
	$ui: 'employeeinfo-dialog',
	$body-font-size: map-get($root-font-sizes, 'detail')
);
*/